body {
    color: white;
    background: black;
    margin: 3px;
    font-family: "Chakra Petch", sans-serif;

}

header {
    border-bottom: solid 2px red;
    padding: 10px;
    font-size: 22px;
    color: red;
}

section {
    background: rgb(89, 7, 7);
    padding-bottom: 8px;
    padding-top: 3px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 10%;
}

h1 {
    font-size: 23px;
}

p {
    font-size: 20px;
}